@charset "UTF-8";
/* CSS Document */

.list-group { 
	list-style-type: none;
}

.list-group-item:before {
	content: "";	
}

/*These first two styles are perfect for creating a VERTICAL navigation*/

.list-group-item {
	display: block;
}

.list-group-item-inline { /*This style is perfect for creating a HORIZONTAL navigation, social media icons, etc...*/
	display: inline-block;
}

